.flatpickr-rContainer {
    display: flex;
    flex-direction: column;
}
.flatpickr-months {
    order: 1;
    position: relative;
}
.flatpickr-weekdays {
    order: 2;
}
.flatpickr-days {
    order: 3;
}
.flatpickr-calendar.with-shortcut {
    width: auto !important;
    display: flex !important;
}
.flatpickr-shortcutPickRangePanel {
    width: 150px;
}
.flatpickr-calendar.open.arrowBottom,
.flatpickr-calendar.inline {
    margin-top: -10px;
}
.flatpickr-shortcut-list {
    padding: 0;
    text-align: left;
    margin: 0;
}
.flatpickr-shortcut-list-item {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}
.flatpickr-shortcut-list-item:hover {
    background: #DDD;
}
.flatpickr-shortcut-list-item.activated {
    background: #CCC;
}
